.Project {
  padding-top: 160px;
  /* padding-bottom: 200px; */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  /* margin: 50px; */
  color: white;
}

.TextBlock{
  background-color: grey;
  opacity: .75;
  width: 100%;
}
.container {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  color: #fff;
}

@media (max-width: 768px){
  .Project{
    margin: 0px;
    padding: 0px;
  }
}
